body{
    font-family: Noto Sans Malayalam UI;
}

h1{
    display: table;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding-top: 3%;
    font-size: 2.5rem;
    color: white;
    
}
#background{
    width: 100%;
    left: -3px;
    height: auto;
    position: absolute;
    z-index: 1;
}
#rec{
    display: table;
    position: relative;
    width: 50%;
    height: 70%;
    margin: 5% 20%;
    padding: 4%;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    clear: both;
    color: #29343F;
    z-index: 2;
}

#ctitle1{
    z-index: 3;
    display: inline;
    position: relative; 
    font-weight: bold;
    font-size: 3rem;
    padding: 1% 1% 5% 0%;
    font-family: Noto Sans Malayalam UI;
}
#ctitle2{
    z-index: 3;
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 2.3rem;
    padding-left: 2%;
    padding-right: 2%;
    font-family: Noto Sans Malayalam UI;
}

#cox{
    z-index: 3;
    display: table;
    position: relative;
    font-weight: bold;
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 0.5em;
    font-size: 2rem;
    font-family: Noto Sans Malayalam UI;
}

#ccomment{
    z-index: 3;
    display: table;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 1.7em;
    font-family: Noto Sans Malayalam UI;
    color: dimgrey;
}

button{
    display: table;
    position: relative;
    margin : 0% auto;
    margin-top: 4%;
    width: 20%;
    height: 15%;
    background: #5D7794;
    border-radius: 5%;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    clear: both;
}

