body{
    font-family: "Noto Sans Malayalam UI";
}

h1{
    display: table;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding-top: 4%;
    font-size: 2rem;
    color: white;
    
}

#rec{
    z-index: 2;
    display: table;
    position: relative;
    width: 60%;
    height: 70%;
    margin: 5% 20%;
    padding-bottom: 5%;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    clear: both;
    color: #29343F;
}

#ctitle1{
    z-index: 3;
    display: inline-block;
    position: relative; 
    font-weight: bold;
    font-size: 3rem;
    padding: 2% 6%;
    font-family: Noto Sans Malayalam UI;
}
#ctitle2{
    z-index: 3;
    display: table;
    display: inline-block;
    font-weight: bold;
    font-size: 2.3rem;
    font-family: Noto Sans Malayalam UI;
}

#cox{
    z-index: 3;
    display: table;
    position: relative;
    font-weight: bold;
    padding-left: 16%;
    font-size: 2rem;
    font-family: Noto Sans Malayalam UI;
}

#ccomment{
    z-index: 3;
    display: table;
    position: relative;
    padding-left: 16%;
    padding-top: 2%;
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 1.7em;
    font-family: Noto Sans Malayalam UI;
    color: dimgrey;
}

button{
    margin-left: 41%;
    margin-top: 2%;
    padding: 2% 4%;
    background: #5D7794;
    border-radius: 5%;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

