h1{
    display: table;
    position: relative;
    margin: 5% auto;
    clear: both;
    z-index: 2;
    
    font-family: Noto Sans Malayalam UI;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 49px;
    text-align: center;
    
    color: #FFFFFF;
}
#box{
    padding: 5%;
    display: table;
    position: relative;
width: 60%;
height: 70%;
background-color: white;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: 5% auto;
clear: both;
z-index: 2;
}

#Q{
    z-index: 3;
    display: inline-block;
    position: relative; 
    font-weight: bold;
    font-size: 3rem;
    padding: 5% 7%;
    font-family: Noto Sans Malayalam UI;

color: #3A3042;

}

#question{
    z-index: 3;
    display: table;
    display: inline-block;
    font-weight: bold;
    font-size: 2.3rem;
    font-family: Noto Sans Malayalam UI;

color: #29343F;
}

#btn{
    display: table;
    position: relative;
    bottom: 80%;
    margin : 0% auto;
    clear: both;
    width: 80%;
    height: 6.25rem;
    color: white;

background: #f1f1f1;
font-size: 3rem;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
z-index: 4;

    font-family: Noto Sans Malayalam UI;
font-style: normal;
font-weight: bold;
color: #525252;
}